{% extends "main.html" %}
{% block body %}
<h1><strong>Dashboard</strong></h1>
      <hr>
    <a class="btn-lg btn-primary" href="{% url 'create_task' %}" role="button">Create Task</a>
      <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Team Member</th>
                  <th scope="col">Task</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for task in pending_tasks %}
                <tr class="fw-normal">
{#                    Profile picture #}
                  <th>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                      class="shadow-1-strong rounded-circle" alt="avatar 1"
                      style="width: 55px; height: auto;">
{#                      Name #}
                    <span class="ms-2">Temp Placeholder Name</span>
                  </th>
{#                    Task #}
                  <td class="align-middle">
                    <span>{{ task.title }}</span>
                  </td>
{#                    Priority#}
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-dark">{{ task.priority }}</span></h6>
                  </td>
                  <td class="align-middle">
                      <a class="btn btn-success" href="#" role="button">Done</a>
                      <a class="btn btn-warning" href="{% url 'edit_task' task.pk %}" role="button">Edit</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
{% endblock %}
