{% extends "main.html" %}
{% load static %}
{#<----------------- Messages ----------------->#}
{% if page == 'pending' %}
    <div class="d-grid gap-2">
        <a class="btn btn-success mb-2" href="{% url 'create_task' %}" role="button">Create Task</a>
    </div>
{% endif %}
{#<----------------- Body ----------------->#}
{#<----------------- Left Card ----------------->#}
{% block body %}
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div class="card text-bg-dark">
                  <div class="card-body text-center">
                      {% if user.profile_image %}
                          <img src="{{ user.profile_image.url }}"
                               class="rounded-circle img-fluid" style="width: 150px;">
                      {% else %}
                          <img src="{% static 'images/profiles/default_profile_image.png' %}"
                               class="rounded-circle img-fluid" style="width: 150px;">
                      {% endif %}
                      <h5 class="my-1">{{ user.name }}</h5>
                      <h5 class="mb-3 text-muted mb-1">{{ user.username }}</h5>
                      <a class="btn btn-success" href="{% url 'edit_user' %}">Edit Profile</a>
                  </div>
            </div>
        </div>
{#<----------------- Right Card ----------------->#}
        <div class="col-4">
            <div class="card text-bg-dark">
                  <div class="card-body">
                  {% for key, value in user_info.items %}
                      <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">{{ key }}</p>
                          </div>
                          <div class="col-sm-9">
                              {% if value %}
                            <p class="text-muted mb-0">{{ value }}</p>
                              {% else %}
                                  <p class="text-muted mb-0">No {{ key.lower }} entered. Please edit.</p>
                              {% endif %}
                          </div>

                      </div>
                      <hr>
                  {% endfor %}
{% endblock body %}

{% block sidenav %}
{% endblock sidenav %}
